html{
	background-color: #C0C0C0;
	font-family: palatino, monospace, Lucida Console;
}
body{

}
h1, h2{
	font-family: 'Lora', serif;
}
header{
	background-color: #3C9DB6;
	text-align: center;
	padding-top: 50px;
}
header h1{
	color: #B0E0E6;
	font-size: 40px;
}
header img{
	border-radius: 250px;
	height: 300px;
	border: 7px solid #C0C0C0;
}
main{
	max-width: 8000px;
	margin: 0 auto;
	padding-left: 15px;
}
main img{
	max-width: 95%;
	text-align: center;
}
footer{
	text-indent: 40px;
	background-color: #E0E4E4;
}
.abilities{
	text-indent: 50px;
	color: #5EA383;
}
.references{
	text-indent: 50px;
	color: #5EA383;
}
.referencesp{
	padding-left: 45px;
	padding-top: 6px;
	padding-bottom: 18px;
}
.referencesul{
	padding-left: 100px;
	border: 5px solid #3C9DB6;
	margin: 0 50px;
	margin-right: 400px;
}
.header{
	text-align: center;
}
.headerimg{
	text-align: center;
}
.mainheader{
	text-indent: 65px;
}
.mainimg{
	border: 15px solid #3C9DB6;
	text-align: center;
}
.topimage{
	text-align: center;
}
.mainp{
	text-align: center;
	font-size: 20px;
}
.abilitylist{
	padding-left: 100px;
	border: 5px solid #3C9DB6;
	margin: 0 50px;
	margin-right: 400px;
}
.footerp{
	padding-left: 30px;
}