html{
	background-color: #FBE0BF;
}
body{
	margin: 0;
}
header{
	background-color: #44B5D3;
	text-align: center;
}
header h1{
	color: grey;
}
.abilities{
	background-color: paleturquoise;
	text-indent: 50px;
}
.references{
	background-color: paleturquoise;
	text-indent: 50px;
}
.header{
	text-align: center;
}
.headerimg{
	text-align: center;
}
.mainheader{
	text-indent: 35px;
}
.topimage{
	text-align: center;
}
.mainp{
	text-indent: 25px;
}